@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(12, 163, 57);
  font-family: "DM Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

h1 {
  background-color: #f7f7f7;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  letter-spacing: 2px;
  box-shadow: 0rem 0rem 0rem 0.1rem rgba(250, 0, 33, 0.877);
  font-weight: 600;
}

.formSimulador {
  padding: 30px 40px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.formSimulador p {
  align-items: center;
  justify-content: center;
}

.formSimulador button {
  border-radius: 50px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: medium;
  font-weight: 900;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* .form-control {
  margin: 10px;
  font-size: 18px;
  box-shadow: 0rem 0rem 0rem 0.1rem rgba(0, 67, 250, 0.877);
}

#contenedorTabla {
  width: 800px;
  max-height: 820px;
  overflow-y: scroll;
}

table {
  border: 2px solid royalblue;
  border-collapse: collapse;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  font-family: inherit;
  font-size: 0.9em;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

table thead tr {
  background: royalblue;
  color: white;
  text-align: left;
  font-weight: bold;
}

table thead,
td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #f0f0f0;
}

table tbody tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid royalblue;
}

table tbody tr:hover {
  color: white;
  background: rgba(65, 105, 225, 90%);
}

table tfoot {
  background: royalblue;
  color: white;
}

.radios {
  padding: 10px 20px;
}

.radioContenedor {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 30px;
  margin: 10px;
}

.radioContenedor input {
  display: none;
}

.radioContenedor .circle {
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  position: absolute;
  display: inline-block;
  background-color: rgba(65, 105, 225, 90%);
  border-bottom: 2px solid royalblue;
}

.radioContenedor:hover .circle {
  background-color: royalblue;
}

.radioContenedor input:checked + .circle {
  background-color: royalblue;
}

.radioContenedor input:checked + .circle:after {
  content: "";
  height: 10px;
  width: 10px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */
